[submodule "xdispatch"]
	path = xdispatch
	url = git@github.com:digiverse/xdispatch.git
	branch = win_master
[submodule "qpid-proton"]
	path = qpid-proton
	url = git@github.com:digiverse/qpid-proton.git
	branch = trunk
